body {
    background-color: #1D1F20;
    color: white;
}

.title{
    font-family: 'sans-serif';
    font-size: 50px;
    text-align: center;
    padding: 0;
    margin-left: 50%;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.5s ease-out forwards;
    text-shadow: 3px 2px 4px #9a9999;
}
span{
    font-family: 'sans-serif';
    color: red;
}
.container{
    max-width: 100%;
}
.oldalszam{
    font-family: 'sans-serif';
    font-size: 25px;
    text-align: center;
}
.text{
    font-family: 'sans-serif';
    font-size: 25px;
    text-align: left;
    margin-left: 60%;
    transform: translateX(200%);
    opacity: 0;
    padding-top: 6%;
    animation: slide-in-anim 1.6s ease-out forwards;
}
p{
    text-indent: 50px;
}

.list{
    font-family: 'sans-serif';
    font-size: 25px;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left:40%;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.6s ease-out forwards;
}
.listtitle{
    font-family: 'sans-serif';
    font-size: 25px;
    text-align: left;
    padding-top: 5%;
    margin: 0;
    margin-left:35%;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.6s ease-out forwards;
}

.tablehead{
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
    width: 80%;
    font-family: 'sans-serif';
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: slide-in-anim 1.6s ease-out forwards;
    letter-spacing: 1px;
}
.table{
    border-collapse: collapse;
    border: 1px solid;
    text-align: left;
    width: 80%;
    font-family: 'sans-serif';
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(200%);
    opacity: 0;
    animation: slide-in-anim 1.6s ease-out forwards;
    letter-spacing: 1px;
}
th,td{
    border: 1px solid #999;
    padding: 0.5rem;
}
caption{
    text-align: center;
    padding: 5px;
    margin: auto;
    text-decoration-line: overline underline;
    text-decoration-color: red;
    letter-spacing: 10px;
}

.navbar {
    background-color: #333;
    padding: 10px;
    list-style: none;
    position: fixed;
    margin-top: -10px;
    width: 100%;
    z-index:100;
}
#myBtn {
    background-color: #1D1F20;
    border: none;
    cursor: pointer;
    font-size: 50px;
    line-height: 0;
    width: 100px;
}
.navbar ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar li{
    display: inline-block;
}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar a:hover {
    background-color: white;
    color: black;
}
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

figure.slide {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-width: 220px;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    float: left;
    margin-left: 20%;
    clear: left;
    text-align: left;
    background-color: #07090c;
    font-size: 16px;
    -webkit-perspective: 50em;
    perspective: 50em;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.6s ease-out forwards;
}
figure.slide * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
figure.slide img {
    opacity: 1;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;

}
figure.slide figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% -50%;
    -ms-transform-origin: 50% -50%;
    transform-origin: 50% -50%;
    z-index: 1;
    opacity: 0;
    padding: 20px 30px;
}
figure.slide h3, figure.slide p {
    line-height: 1.5em;
}
figure.slide h3 {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}
figure.slide p {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 15px;
}
figure.slide .read-more {
    border: 2px solid white;
    padding: 0.5em 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    display: inline-block;
}
figure.slide .read-more:hover {
    background-color: white;
    color: black;
}
figure.slide:hover img, figure.slide.hover img {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
}
figure.slide:hover figcaption, figure.slide.hover figcaption {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
@keyframes slide-in-anim {
    60% {
        animation-duration: 2s;
        animation-timing-function: ease-out;
        transform: translateX(-45%);
    }
    75% {
        animation-duration: 3s;
        animation-timing-function: ease-out;
        transform: translateX(-52%);
    }
    100% {
        animation-duration: 4s;
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(-50%);
    }
}